<h1>gux-month-picker</h1>

<div class="container">
  <h2>Default</h2>
  <gux-month-picker-beta></gux-month-picker-beta>

  <h2>Min & Max</h2>
  <gux-month-picker-beta
    min-month="March"
    min-year="2020"
    max-month="November"
    max-year="2025"
  ></gux-month-picker-beta>

  <h2>Languages</h2>

  <h3>Polish</h3>
  <gux-month-picker-beta lang="pl"></gux-month-picker-beta>

  <h3>Spanish</h3>
  <gux-month-picker-beta lang="es"></gux-month-picker-beta>

  <h3>Korean</h3>
  <gux-month-picker-beta lang="ko"></gux-month-picker-beta>
</div>

<style>
  .container {
    width: 150px;
  }
</style>
