<h1>gux-time-zone-option-beta</h1>

<gux-dropdown-v2-beta filterable placeholder="Select Timezone...">
  <gux-listbox aria-label="Time Zones">
    <gux-time-zone-option-beta
      timezone="America/Chicago"
      offset="-300"
    ></gux-time-zone-option-beta>
    <gux-time-zone-option-beta
      timezone="Asia/Dubai"
      offset="240"
    ></gux-time-zone-option-beta>
    <gux-time-zone-option-beta
      timezone="Asia/Tehran"
      offset="270"
    ></gux-time-zone-option-beta>
    <gux-time-zone-option-beta
      timezone="Europe/Dublin"
      offset="60"
    ></gux-time-zone-option-beta>
    <gux-time-zone-option-beta
      timezone="Indian/Maldives"
      offset="300"
    ></gux-time-zone-option-beta>
    <gux-time-zone-option-beta
      timezone="Pacific/Honolulu"
      offset="-600"
    ></gux-time-zone-option-beta>
    <gux-time-zone-option-beta
      timezone="UTC"
      offset="0"
    ></gux-time-zone-option-beta>
  </gux-listbox>
</gux-dropdown-v2-beta>
