<h1>gux-toolbar-beta</h1>

<h2>Toolbar Example</h2>

<gux-toolbar-beta>
  <div slot="searchFilter">
    <gux-form-field-search>
      <input slot="input" type="search" name="lp-1" />
    </gux-form-field-search>
    <gux-toolbar-action icon="filter">Filter</gux-toolbar-action>
  </div>

  <gux-toolbar-action slot="contextual">Delete</gux-toolbar-action>
  <gux-toolbar-action slot="permanent">Delete</gux-toolbar-action>
  <gux-toolbar-action slot="permanent">Refresh</gux-toolbar-action>
  <gux-toolbar-action slot="permanent">Export</gux-toolbar-action>
  <gux-toolbar-action primary slot="permanent">Customize</gux-toolbar-action>
</gux-toolbar-beta>
