<h1>gux-toolbar-beta</h1>

<h2>Toolbar Example</h2>

<gux-toolbar-beta search>
  <gux-toolbar-action slot="filter"
    ><gux-icon icon-name="filter" decorative></gux-icon
    >Filter</gux-toolbar-action
  >

  <gux-toolbar-action slot="contextual"
    ><gux-icon icon-name="delete" decorative></gux-icon
    >Delete</gux-toolbar-action
  >
  <gux-toolbar-action slot="permanent"
    ><gux-icon icon-name="delete" decorative></gux-icon
    >Delete</gux-toolbar-action
  >
  <gux-toolbar-action slot="permanent"
    ><gux-icon icon-name="refresh" decorative></gux-icon
    >Refresh</gux-toolbar-action
  >
  <gux-toolbar-action slot="permanent"
    ><gux-icon icon-name="export" decorative></gux-icon
    >Export</gux-toolbar-action
  >
  <gux-toolbar-action slot="permanent"
    ><gux-icon icon-name="cog" decorative></gux-icon
    >Customize</gux-toolbar-action
  >
  >
</gux-toolbar-beta>
