<h1>gux-toolbar-beta</h1>

<h2>Toolbar Example</h2>

<gux-toolbar-beta>
  <div slot="searchFilter">
    <gux-toolbar-action icon="filter">Filter</gux-toolbar-action>
  </div>

  <div slot="contextual">
    <gux-toolbar-action icon="delete">Delete</gux-toolbar-action>
  </div>

  <div slot="permanent">
    <gux-toolbar-action icon="delete">Delete</gux-toolbar-action>
    <gux-toolbar-action icon="refresh">Refresh</gux-toolbar-action>
    <gux-toolbar-action icon="export">Export</gux-toolbar-action>
    <gux-toolbar-action icon="cog">Customize</gux-toolbar-action>
    <gux-toolbar-menu-button>
      <gux-list-item onclick="notify(event)">Test 1</gux-list-item>
      <gux-list-item onclick="notify(event)">Test 2</gux-list-item>
    </gux-toolbar-menu-button>
  </div>

  <div slot="primary">
    <gux-toolbar-action primary icon="add">Add</gux-toolbar-action>
  </div>
</gux-toolbar-beta>
