@import (reference) '../../../style/spacing.less';
@import (reference) '../../../style/color-palette.less';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  padding: @spacing-xs;
  background-color: @gux-grey-90;
  border-radius: @spacing-2xs;

  .gux-search-filter {
    display: flex;
    gap: @spacing-2xs;
    align-content: flex-start;
    align-items: center;
  }

  .gux-permanent-actions {
    display: flex;
    flex-direction: row;
    gap: @spacing-2xs;
    align-content: flex-end;
    align-items: center;
  }
}
