<h1>COMUI-1002</h1>

<h2>Successful after loading</h2>
<gux-toggle
  id="toggle-success"
  class="toggle"
  checked-label="On Queue"
  unchecked-label="Off Queue"
></gux-toggle>

<h2>Fail after loading</h2>
<gux-toggle
  id="toggle-fail"
  class="toggle"
  checked-label="On Queue"
  unchecked-label="Off Queue"
></gux-toggle>

<style
  onload="(function () {
    const toggles = Array.from(document.getElementsByClassName('toggle'));

    toggles.forEach((toggle) => {
      toggle.addEventListener('check', function(event) {
        const { target } = event;

        if (target.checked) {
          target.loading = true;

          setTimeout(() => {
            if (target.id !== 'toggle-success') {
              target.checked = false;
            }

            target.loading = false;
          }, 5000);
        }
      })
    });
  })()"
>
  .not-used {
    -custom-noop: noop;
  }
</style>
