@import (reference) '../../../../style/typography.less';

button {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 25 0 25px;
  text-align: left;
  cursor: pointer;
  background-color: #fdfdfd;
  border: none;
  outline: 0;
  box-shadow: inset 0 -4px 0 0 #75a8ff;
}

.gux-sr-only {
  .gux-sr-only-clip();
}
