<form onchange="notify(event)" oninput="notify(event)">
  <h1>gux-form-field (Time)</h1>

  <h3>Default</h3>
  <gux-form-field label-position="screenreader">
    <input name="time" type="time" slot="input" />
    <label slot="label">This will be read by a screenreader</label>
  </gux-form-field>

  <h3>With Label</h3>
  <gux-form-field label-position="above">
    <input name="time" type="time" slot="input" />
    <label slot="label">Select Time</label>
  </gux-form-field>

  <h3>Interval: 30 Minutes</h3>
  <gux-form-field interval="30" label-position="screenreader">
    <input name="time" type="time" slot="input" />
    <label slot="label">This will be read by a screenreader</label>
  </gux-form-field>

  <h3>Disabled</h3>
  <gux-form-field label-position="screenreader">
    <input name="time" type="time" slot="input" disabled />
    <label slot="label">This will be read by a screenreader</label>
  </gux-form-field>

  <h3>Error</h3>
  <gux-form-field label-position="screenreader">
    <input name="time" type="time" slot="input" />
    <label slot="label">This will be read by a screenreader</label>
    <span slot="error">Please provide a valid time</span>
  </gux-form-field>
</form>
