@import (reference) '../../../style/color.less';
@import (reference) '../../../style/mixins.less';
@import (reference) '../../../style/typography.less';
@import (reference) '../../../style/spacing.less';

:host {
  display: inline-block;
}

::slotted(a) {
  .gux-anchor();

  box-shadow: none !important;
}

.gux-anchor {
  display: inline-flex;
  align-items: center;
  border-radius: 2px;

  &:focus-within {
    .focus-ring();
  }
}

.gux-in-table {
  ::slotted(a) {
    text-decoration: none !important;
  }
}

::slotted(gux-icon),
gux-icon {
  padding-right: @spacing-xs;
  color: @gux-blue-60;
}
