<h1>gux-month-calendar-beta</h1>

<div class="item">
  <gux-month-calendar-beta lang="en"></gux-month-calendar-beta>
</div>

<h2>Localized</h2>
<div class="item">
  <h3>ar</h3>
  <gux-month-calendar-beta lang="ar"></gux-month-calendar-beta>
</div>

<div class="item">
  <h3>de</h3>
  <gux-month-calendar-beta lang="de"></gux-month-calendar-beta>
</div>

<div class="item">
  <h3>ko</h3>
  <gux-month-calendar-beta lang="ko"></gux-month-calendar-beta>
</div>

<div class="item">
  <h3>pt-br</h3>
  <gux-month-calendar-beta lang="pt-br"></gux-month-calendar-beta>
</div>

<div class="item">
  <h3>ru</h3>
  <gux-month-calendar-beta lang="ru"></gux-month-calendar-beta>
</div>

<style>
  .item {
    height: 325px;
  }
</style>
